In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup as BS
from bs4 import Comment
import time
from tqdm import tqdm

In [25]:
odds_2011 = pd.read_excel('data/mlb odds 2011.xlsx')

In [26]:
odds_2011['away_team'] = odds_2011.Team.shift(1)

In [27]:
odds_2011['away_open'] = odds_2011['Open'].shift(1)

In [28]:
odds_2011 = odds_2011.drop(columns = ['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','Open OU','Unnamed: 18','Unnamed: 20', 'Close','Close OU' ])

In [29]:
odds_2011['away_score'] = odds_2011['Final'].shift(1)

In [52]:
odds_2011[odds_2011['VH']=='H']

,Date,Rot,VH,Team,Pitcher,Final,Open,away_team,away_open,away_score
1,331,902,H,WAS,LHERNADEZ-R,0,122,ATL,-142.0,2.0
3,331,904,H,CIN,EVOLQUEZ-R,7,-113,MIL,-107.0,6.0
5,331,906,H,STL,CARPENTER-R,3,-205,SDG,175.0,5.0
7,331,908,H,LOS,CKERSHAW-L,2,-114,SFO,-106.0,1.0
9,331,910,H,NYY,CSABATHIA-L,6,-147,DET,127.0,3.0
...,...,...,...,...,...,...,...,...,...,...
4925,1022,956,H,TEX,MHARRISON-L,7,-173,STL,153.0,16.0
4927,1023,958,H,TEX,DHOLLAND-L,4,-160,STL,140.0,0.0
4929,1024,960,H,TEX,CWILSON-L,4,-120,STL,100.0,2.0
4931,1027,964,H,STL,JGARCIA-L,10,-110,TEX,-110.0,9.0
4933,1028,966,H,STL,CARPENTER-R,6,-121,TEX,101.0,2.0

In [55]:
def get_odds(filepath):
    df = pd.read_excel(filepath)
    df['away_team'] = df.Team.shift(1)
    df['away_open'] = df['Open'].shift(1)
    df = df.drop(columns = ['1st','2nd','3rd','4th','5th','6th','7th',
                                          '8th','9th','Open OU','Unnamed: 18','Unnamed: 20', 'Close','Close OU' ])
    df['away_score'] = odds_2011['Final'].shift(1)
    df = df[df['VH'] == 'H']
    
    return df

In [56]:
file_paths = [#'data/mlb odds 2012.xlsx',
             'data/mlb odds 2013.xlsx',
             'data/mlb odds 2014.xlsx',
             'data/mlb odds 2015.xlsx',
             'data/mlb odds 2016.xlsx',
             'data/mlb odds 2017.xlsx',
             'data/mlb odds 2018.xlsx',
             'data/mlb odds 2019.xlsx',
             'data/mlb odds 2020.xlsx',
             'data/mlb odds 2021.xlsx']

In [78]:
file_paths[1].split(' ')[2][0:4]

'2013'

In [91]:
odds = get_odds('data/mlb odds 2012.xlsx')
odds['year'] = '2012'

for filepath in file_paths:
    try:
        df = get_odds(filepath)
        df['year'] = filepath.split(' ')[2][0:4]
        temp.append(df)
    except KeyError:
        print(filepath)

data/mlb odds 2020.xlsx
data/mlb odds 2021.xlsx

In [93]:
temp[0]

,Date,Rot,VH,Team,Pitcher,Final,Open,away_team,away_open,away_score,year
1,328,948,H,OAK,BMCCARTHY-R,1,103,SEA,-123.0,2.0,2012
3,329,996,H,OAK,BCOLON-R,4,-110,SEA,-110.0,6.0,2012
5,404,998,H,MIA,JJOHNSON-R,1,-173,STL,153.0,5.0,2012
7,405,902,H,NYM,JSANTANA-L,1,-105,ATL,-105.0,1.0,2012
9,405,904,H,PIT,EBEDARD-L,0,176,PHI,-196.0,3.0,2012
...,...,...,...,...,...,...,...,...,...,...,...
4925,1022,928,H,SFO,MCAIN-R,9,-147,STL,127.0,16.0,2012
4927,1024,902,H,SFO,BZITO-L,8,130,DET,-150.0,0.0,2012
4929,1025,904,H,SFO,BUMGARNER-L,2,100,DET,-120.0,2.0,2012
4931,1027,906,H,DET,ASANCHEZ-R,0,-140,SFO,120.0,9.0,2012
4933,1028,908,H,DET,MSCHERZER-R,3,-135,SFO,115.0,2.0,2012

In [62]:
temp = odds[0]

In [71]:
len(odds)

8

In [96]:
for i in range(1,8):
    odds = odds.append(temp[i])

In [106]:
odds.drop(columns = ['Run Line', 'Unnamed: 22'])

,Date,Rot,VH,Team,Pitcher,Final,Open,away_team,away_open,away_score,year
1,328,948,H,OAK,BMCCARTHY-R,1,103,SEA,-123.0,2.0,2012
3,329,996,H,OAK,BCOLON-R,4,-110,SEA,-110.0,6.0,2012
5,404,998,H,MIA,JJOHNSON-R,1,-173,STL,153.0,5.0,2012
7,405,902,H,NYM,JSANTANA-L,1,-105,ATL,-105.0,1.0,2012
9,405,904,H,PIT,EBEDARD-L,0,176,PHI,-196.0,3.0,2012
...,...,...,...,...,...,...,...,...,...,...,...
4919,1025,906,H,WAS,ASANCHEZ-R,1,110,HOU,-121,12.0,2019
4921,1026,908,H,WAS,PCORBIN-L,1,-115,HOU,105,2.0,2019
4923,1027,910,H,WAS,MSCHERZER-R,1,140,HOU,-155,2.0,2019
4925,1029,912,H,HOU,JVERLANDER-R,2,-180,WAS,162,16.0,2019
4927,1030,914,H,HOU,ZGREINKE-R,2,-135,WAS,122,0.0,2019

In [100]:
odds_2020 = pd.read_excel('data/mlb odds 2020.xlsx')

In [109]:
odds_2020 = pd.read_excel(filepath)
odds_2020['away_team'] = odds_2020.Team.shift(1)
odds_2020['away_open'] = odds_2020['Open'].shift(1)
odds_2020['away_score'] = odds_2011['Final'].shift(1)
odds_2020 = odds_2020[odds_2020['VH'] == 'H']
odds_2020 = odds_2020.drop(columns = ['1st','2nd','3rd','4th','5th','6th','7th',
                                          '8th','9th','OpenOU','Unnamed: 18','Unnamed: 20', 'Close','CloseOU', 'Unnamed: 22', 'RunLine' ])
odds_2020['year'] = '2020'

In [111]:
odds_2020

,Date,Rot,VH,Team,Pitcher,Final,Open,away_team,away_open,away_score,year
1,401,962,H,CUB,KHENDRICK,3,-205,PIT,183.0,2.0,2020
3,401,964,H,PHI,ANOLA,3,-105,ATL,-105.0,6.0,2020
5,401,966,H,SDG,YDARVISH,8,-210,ARI,188.0,5.0,2020
7,401,968,H,COL,GMARQUEZ,8,188,LAD,-210.0,1.0,2020
9,401,970,H,CIN,LCASTILLO,6,-115,STL,105.0,3.0,2020
...,...,...,...,...,...,...,...,...,...,...,...
4915,1027,954,H,HOU,JURQUIDY,7,-115,ATL,-105.0,1.0,2020
4917,1029,956,H,ATL,IANDERSON,2,-115,HOU,-105.0,5.0,2020
4919,1030,958,H,ATL,DLEE-L,3,-115,HOU,-105.0,12.0,2020
4921,1031,960,H,ATL,TDAVIDSON-L,5,-105,HOU,-115.0,2.0,2020
4923,1102,962,H,HOU,LGARCIA,0,-120,ATL,100.0,2.0,2020

In [112]:
odds_2021 = pd.read_excel('data/mlb odds 2021.xlsx')

In [113]:
odds_2021 = pd.read_excel(filepath)
odds_2021['away_team'] = odds_2021.Team.shift(1)
odds_2021['away_open'] = odds_2021['Open'].shift(1)
odds_2021['away_score'] = odds_2011['Final'].shift(1)
odds_2021 = odds_2021[odds_2021['VH'] == 'H']
odds_2021 = odds_2021.drop(columns = ['1st','2nd','3rd','4th','5th','6th','7th',
                                          '8th','9th','OpenOU','Unnamed: 18','Unnamed: 20', 'Close','CloseOU', 'Unnamed: 22', 'RunLine' ])
odds_2021['year'] = '2021'

In [114]:
odds = odds.append(odds_2020)

In [115]:
odds = odds.append(odds_2021)

In [118]:
odds = odds.drop(columns = ['Run Line', 'Unnamed: 22'])

In [119]:
odds.head(5)

,Date,Rot,VH,Team,Pitcher,Final,Open,away_team,away_open,away_score,year
1,328,948,H,OAK,BMCCARTHY-R,1,103,SEA,-123.0,2.0,2012
3,329,996,H,OAK,BCOLON-R,4,-110,SEA,-110.0,6.0,2012
5,404,998,H,MIA,JJOHNSON-R,1,-173,STL,153.0,5.0,2012
7,405,902,H,NYM,JSANTANA-L,1,-105,ATL,-105.0,1.0,2012
9,405,904,H,PIT,EBEDARD-L,0,176,PHI,-196.0,3.0,2012

In [122]:
odds['Date'] = odds.Date.astype(str)

In [123]:
odds['date'] = odds['Date'] + odds['year']